@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(222.2 84% 4.9%);

  --card: hsl(0 0% 100%);
  --card-foreground: hsl(222.2 84% 4.9%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(222.2 84% 4.9%);

  --primary: #ff4d00;
  --primary-foreground: hsl(210 40% 98%);

  --secondary: #02362d;
  --secondary-foreground: hsl(210 40% 98%);

  --muted: hsl(210 40% 96.1%);
  --muted-foreground: hsl(215.4 16.3% 46.9%);

  --accent: #252527;
  --accent-foreground: hsl(210 40% 98%);

  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(210 40% 98%);

  --border: hsl(214.3 31.8% 91.4%);
  --input: hsl(214.3 31.8% 91.4%);
  --ring: hsl(222.2 84% 4.9%);

  --radius: 0.5rem;

  --game-green: #2e8b57;
  --game-green-foreground: hsl(210 40% 98%);
  --game-blue: #4a90e2;
  --game-yellow: #f39c12;
  --game-purple: #9b59b6;
  --game-purple-foreground: hsl(210 40% 98%);
  --game-red: #e74c3c;
  --game-slate: #2c3e50;
  --game-slate-foreground: hsl(210 40% 98%);
  --game-orange: #fff3e0;

  --sidebar-background: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);

  --radius: 0.5rem;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-game-red: var(--game-red);
  --color-game-yellow: var(--game-yellow);
  --color-game-blue: var(--game-blue);
  --color-game-green: var(--game-green);
  --color-game-green-foreground: var(--game-green-foreground);
  --color-game-purple: var(--game-purple);
  --color-game-purple-foreground: var(--game-purple-foreground);
  --color-game-slate: var(--game-slate);
  --color-game-slate-foreground: var(--game-slate-foreground);
  --color-game-orange: var(--game-orange);
}

@theme {
  --color-app-neutral-200: #ceced3;
  --color-app-neutral-300: #adaeb3;
  --breakpoint-3xl: 121rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .hero {
    height: calc(100svh - 96px);
  }

  .menu {
    @apply bg-accent fixed top-0 right-0 z-50 w-[300px] translate-x-full p-8 transition-transform;
  }

  .menu--shown {
    @apply translate-x-0;
  }

  .card {
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .core-competency-section__left-thumb {
    @apply absolute hidden h-auto w-[20%] object-cover sm:right-[24px] sm:bottom-[-48%] sm:block sm:w-[40%] md:w-[31%] lg:right-auto lg:left-[16px] lg:w-[20%] xl:bottom-[-73%] xl:left-[56px] 2xl:w-[16%];
  }

  .core-competency-section__right-thumb {
    @apply absolute hidden h-auto w-[20%] object-cover lg:right-[16px] lg:bottom-[-13%] lg:block lg:w-[20%] xl:right-[56px] xl:bottom-[-25%] 2xl:w-[16%];
  }

  .about-hero {
    @apply !p-0;
  }

  .about-sticky-content {
    @apply 3xl:static 3xl:grid 3xl:grid-cols-2 3xl:h-fit 3xl:pt-8 top-[136px] flex flex-col justify-between gap-6 self-start pt-8 lg:sticky lg:h-[calc(100svh-136px)] lg:pt-0;
  }

  @media (width > 120rem) {
    .vertical-timeline {
      max-width: 100% !important;
      margin: 0 0 !important;
      width: 100% !important;
    }
  }

  .about-decorative {
    width: 100%;
  }

  .footer-link {
    @apply hover:text-primary transition-colors;
  }

  .footer-link[aria-disabled="true"] {
    @apply pointer-events-none text-gray-500;
  }
}
